<div class="meals_container">
<% @organizations.each do |organization| %>
  <div class="meals">
    <%= link_to(organization_path(organization)) do%>
    <div><%= image_tag(organization.image_url, size: '316x236') %></div>

    <% end %>
    <div class="box_holder">
    <div class="price"><strong><%= organization.name %></strong></div>  
    <div class="title"><%= organization.description %></div>
    </div>
  </div>
<% end %>
</div>



<br>

<%= link_to 'New Organization', new_organization_path %>
