
  <div class="row">
    <div class="col-md-8">
      <h1><%= @organization.name%></h1>
      <div class="organization_image"><%= image_tag(@organization.image_url, size: '750x470') %></div>
      <h3>About <%= @organization.name %></h3>
      <div><p><%= @organization.description%></p></div>
    </div>

    <div class="col-md-4">
      <div class="donate">
        <%= link_to 'Donate', '#', :class=>"btn btn-warning btn-lg btn-block" %>
      </div>
      <div class="contact">
        <%= link_to 'Contact us', '#', :class=>"btn btn-info btn btn-block" %>
      </div>
      <div id="googleMap" style="width: 300px; height: 300px;"></div>
    </div>
  </div>
  <h3><b>Wallet address:</b> <%= @organization.wallet_address %></h3>

<button class="bitcoinate" data-size="50" data-address="sdfasdvsdv">bitcoinate</button>

  <script src="//gitcdn.org/libs/bitcoinate/0.2.1/index.min.js"></script>




