<!DOCTYPE html>
<html>
<head>
  <title>Bitgood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render 'layouts/nav' %>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="http://i.imgur.com/sVHXDHk.jpg?1" alt="meal" class="carousel_img">
	      <div class="carousel-caption">
	      	<img src="http://i.imgur.com/rhrqGP9.png" alt="bitcoin">
	        <h1 class="slogan">Bitgood to the city you love</h1>
	      </div>
	    </div>
	</div>

	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

	  <%= yield %>
</body>
</html>
